h1 {
  height: 10%;
  width: 80%;
  color: red;
  background-color: gray
  text align : center;
  }

h2 {
  height: 5%;
  width: 80%;
  color: blue;
  text align: left;}

h3 {
  height: 50%;
  width: 80%;
  background-color: gray;
}

h4 {
  height: 15%;
  width: 80%;
  color: red;
  background-color: yellow
  text align : left;
}

h5 {
  height: 15%;
  width: 80%;
  color: black;
  background-color: yellow
  text align : left;
}

h6 {
  height: 5%;
  width: 80%;
  color: red;
  background-color: yellow
  text align : center;
}

p {
font-family; sans-serif;}

ul {
line-height; 40px;}

.intro {
font-style: italic}

.author {
color: red;
font-size: 12px}

p.author {
font-size: 12px}

img {
float: center;
width: 400px;
height: 300px;
padding: 20px;
margin; 2px;}
